.tm-sc-service .icon {
  display: inline-block;
}
.tm-sc-service .icon,
.tm-sc-service .feature-title,
.tm-sc-service .feature-details {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.service-block-style3 {
  margin-bottom: 45px;
}
.service-block-style3 .inner-box {
  position: relative;
  padding: 0 22px 45px;
  margin-top: 40px;
  background-color: #f3f4f7;
}
@media (max-width: 767.98px) {
  .service-block-style3 .inner-box {
    text-align: center;
  }
}
.service-block-style3 .inner-box:hover .icon-box .service-icon i {
  transform: scaleX(-1);
  background-color: var(--theme-color1);
  color: #fff;
}
.service-block-style3 .inner-box .icon-box {
  margin-bottom: 30px;
}
.service-block-style3 .inner-box .icon-box:before {
  content: "";
  position: absolute;
  top: -15px;
  right: -7px;
  width: 93px;
  height: 58px;
  background-image: url(../../../../assets/images/current-theme/icon-border.png);
}
@media (max-width: 767.98px) {
  .service-block-style3 .inner-box .icon-box:before {
    left: -6px;
    top: -16px;
    margin: 0 auto;
  }
}
.service-block-style3 .inner-box .icon-box .service-icon i {
  position: relative;
  margin-top: -43px;
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 46px;
  line-height: 80px;
  color: var(--theme-color1);
  box-shadow: 0 0 76px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  text-align: center;
  transition: all 300ms ease;
}
.service-block-style3 .inner-box .service-count {
  position: absolute;
  top: 25px;
  left: 10px;
  font-size: 60px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d3d3d6;
}
.service-block-style3 .inner-box .service-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 40px;
}
.service-block-style3 .inner-box .service-title::before {
  content: "";
  position: absolute;
  bottom: -23px;
  right: 0;
  width: 81px;
  height: 6px;
  background-color: var(--theme-color1);
  transform: skewX(25deg);
}
@media (max-width: 767.98px) {
  .service-block-style3 .inner-box .service-title::before {
    left: 0;
    margin: 0 auto;
  }
}