.tm-sc-service .icon {
  display: inline-block;
}
.tm-sc-service .icon,
.tm-sc-service .feature-title,
.tm-sc-service .feature-details {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.service-item:nth-child(odd) .service-block-style4 {
  margin-top: 60px;
}

.service-block-style4 .inner-box .image-box .service-featured-img {
  margin-bottom: 22px;
  overflow: hidden;
}
.service-block-style4 .inner-box .image-box .service-featured-img img {
  width: 100%;
  transition: all 300ms ease;
}
.service-block-style4 .inner-box .image-box .service-featured-img img:hover {
  transform: scale(1);
}
.service-block-style4 .inner-box .content-box .service-title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: -3px;
}
.service-block-style4 .inner-box .content-box .service-title:hover {
  color: var(--theme-color1);
}
.service-block-style4 .inner-box .content-box .service-subtitle {
  color: #54595f;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.84px;
}
.service-block-style4 .inner-box .content-box .list-style {
  margin-top: 1px;
}
.service-block-style4 .inner-box .content-box .list-style li {
  color: var(--theme-color2);
  position: relative;
  padding-bottom: 3px;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #e1e1e1;
  list-style: none;
}
.service-block-style4 .inner-box .content-box .list-style li:last-child {
  border-bottom: none;
}
.service-block-style4 .inner-box .content-box .list-style li span {
  color: #54595f;
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  right: 0;
}
.service-block-style4:hover .inner-box .image-box .service-featured-img img:hover {
  transform: scale(1.1);
}