@import "../../bootstrap-loader";
@import "blog-common";

.tm-sc-blog {
  .blog-item-current-style4 {
    position: relative;
    @include transition(all 300ms ease);
    padding-left: 20px;
    &:hover {
      .entry-header .thumb {
        &:after {
          left: 0;
          right: 0;
          opacity: 0;
          @include transition(all 400ms linear);
        }
        img {
          @include transform(scale(1.1));
        }
      }
    }
    .entry-header {
      position: relative;
      .post-thumb-inner {
        position: relative;
      }
      .thumb {
        img {
          display: block;
          width: 100%;
          @include transition(all 400ms ease);
        }
        &:after {
          background: rgba(255, 255, 255, 0.3);
          bottom: 0;
          content: "";
          left: 50%;
          position: absolute;
          right: 51%;
          top: 0;
          opacity: 1;
          pointer-events: none;
          @include transition(all 400ms linear);
        }
      }
      .post-single-meta {
        background: var(--theme-color3);
        color: var(--text-color-bg-theme-color3);
        text-align: center;
        font-size: 15px;
        position: absolute;
        top: 17px;
        font-weight: 900;
        padding: 3px 13px;
        left: -20px;
        span {
          color: var(--text-color-bg-theme-color3);
          &.month {
          }
          &.year {
          }
        }
      }
    }
    .entry-content {
      padding-top: 20px;
      position: relative;
      z-index: 2;
    }
    .entry-meta {
      position: relative;
      margin-bottom: 5px;
      a,
      span {
        font-weight: 600;
      }
      li {
        position: relative;
        font-size: 15px;
        &.author {
          a {
            text-decoration: underline;
          }
          i {
            display: none;
          }
        }

        i {
          margin-right: 5px;
          color: var(--theme-color1);
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
    .entry-title {
      margin-top: 0;
      margin-bottom: 15px;
      &:hover {
        color: var(--theme-color2);
      }
    }
    .mascot-post-excerpt {
      margin-top: 20px;
    }
    .btn-view-details {
      .btn-plain-text {
        position: relative;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        color: #212529;
        @include transition(all 300ms linear);
        &:after {
          content: "\f30b";
          color: #212529;
          font-family: "Font Awesome 5 Free";
          @include transition(all 300ms linear);
          margin-left: 15px;
        }
        &:hover,
        &:hover:after {
          color: var(--theme-color1);
        }
      }
    }
  }
}
