.tm-sc-features .icon {
  display: inline-block;
}
.tm-sc-features .icon,
.tm-sc-features .features-title,
.tm-sc-features .features-details {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.feature-side-line {
  position: relative;
}
.feature-side-line .icon-box-wrapper:after {
  content: "";
  background: #333;
  width: 2px;
  position: absolute;
  left: 25px;
  top: 60px;
  bottom: -12px;
}
@media (max-width: 575.98px) {
  .feature-side-line .icon-box-wrapper:after {
    display: none;
  }
}

.features-block-style6 {
  position: relative;
  margin-bottom: 70px !important;
}
.features-block-style6 .inner-box {
  position: relative;
  padding: 70px 40px 135px;
  text-align: center;
  border-radius: 8px;
  transition: all 0.4s;
}
.features-block-style6 .inner-box:hover {
  transform: translateY(-6px);
}
.features-block-style6 .inner-box:hover .bg-image img {
  transform: scale(1.2) rotate(3deg);
}
.features-block-style6 .inner-box:hover .bg-image:before {
  opacity: 0.1;
}
.features-block-style6 .inner-box:hover .bg-image:after {
  height: 100%;
}
.features-block-style6 .inner-box:hover .features-details,
.features-block-style6 .inner-box:hover .features-title {
  color: #fff;
}
.features-block-style6 .inner-box:hover .count {
  background: linear-gradient(to left, var(--theme-color1-lighter), var(--theme-color1));
  color: #ffffff;
  box-shadow: 0 10px -30px rgba(0, 0, 0, 0.2);
}
.features-block-style6 .inner-box .bg-image {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  overflow: hidden;
  border-radius: 8px;
}
.features-block-style6 .inner-box .bg-image:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: #232356;
  opacity: 0.85;
  content: "";
  transition: all 0.4s;
  z-index: 1;
}
.features-block-style6 .inner-box .bg-image:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(to right, rgba(var(--theme-color1-rgb), 0.35), var(--theme-color1));
  transition: all 0.4s;
  content: "";
  opacity: 0.9;
  z-index: 2;
}
.features-block-style6 .inner-box .bg-image img {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
.features-block-style6 .inner-box .features-title {
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 0;
  position: relative;
  z-index: 5;
}
.features-block-style6 .inner-box .features-details {
  position: relative;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 0;
  transition: all 300ms ease;
  z-index: 5;
}
.features-block-style6 .inner-box .count {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -68px;
  height: 110px;
  width: 110px;
  border: 15px solid #ffffff;
  border-radius: 50%;
  background: linear-gradient(to right, var(--theme-color1-lighter), var(--theme-color1));
  color: var(--text-color-bg-theme-color1);
  font-size: 32px;
  font-family: var(--title-font);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  transition: all 300ms ease;
}