@import "../../bootstrap-loader";
.team-current-theme1 {
  position: relative;
  margin-bottom: 50px;
  .inner-box {
    position: relative;
    &:hover {
      .image img {
        transform: scale(1.1);
      }
      .social-links {
        transform: scaleY(1);
        opacity: 1;
        visibility: visible;
      }
      .info-box {
        &:before {
          width: 100%;
        }
        &:after {
          background-color: var(--theme-color2);
        }
        .team-title,
        .team-subtitle {
          color: #fff;
        }
        .share-icon {
          background-color: #fff;
        }
      }
    }
  }

  .image-box {
    position: relative;
    .image {
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      z-index: 1;
      img {
        width: 100%;
        transition: all 400ms ease;
      }
    }
  }

  .info-box {
    position: relative;
    padding: 19px 30px;
    padding-right: 100px;
    background-color: #fff;
    max-width: 322px;
    margin: 0 auto;
    margin-top: -35px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);
    z-index: 2;
    @include media-breakpoint-down(md) {
      max-width: 100%;
      margin-top: 0;
    }
    &:before {
      content: "";
      @include overlay;
      width: 0;
      background-color: var(--theme-color1);
      @include transition(all 300ms ease);
    }
    &:after {
      content: "";
      @include overlay;
      top: 50%;
      width: 9px;
      height: 45px;
      background-color: var(--theme-color1);
      transform: translateY(-50%);
      @include transition(all 300ms ease);
    }
    .team-title {
      position: relative;
      margin-bottom: 0;
      &:hover,
      a:hover {
        color: #fff;
      }
    }
    .team-subtitle {
      position: relative;
      color: #7a7a7a;
      font-size: 16px;
      display: block;
      @include transition(all 300ms ease);
    }
  }

  .share-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 20px;
    border-radius: 10px;
    color: var(--theme-color2);
    border: 1px solid #e1e1e1;
    @include transition(all 300ms ease);
    transform: translateY(-50%);
    text-align: center;
    z-index: 3;
  }

  .social-links {
    position: absolute;
    right: 20px;
    bottom: 100%;
    margin-bottom: -18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: bottom;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: all 400ms ease;
    li {
      list-style: none;
      list-style: none;
      width: 46px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:first-child {
        i {
          &::after {
            display: none;
          }
        }
      }
    }
    a {
      position: relative;
      height: 46px;
      width: 46px;
      line-height: 46px;
      text-align: center;
      font-size: var(--body-font-size);
      color: var(--theme-color2);
      background-color: #fff;
      margin-top: 10px;
      border-radius: 10px;
      @include transition(all 300ms ease);
      &:hover {
        color: #fff;
        background-color: var(--theme-color1);
      }
    }
  }
}
