@import "../../bootstrap-loader";
@import "project-skin-common";

.projects-current-theme3 {
  position: relative;
  .inner-box {
    position: relative;
    &:hover {
      .content-box {
        padding-bottom: 0;
        .title {
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        }
      }
      .image-box {
        .image {
          &:before {
            height: 100%;
            opacity: 1;
          }
          &:after {
            height: 20px;
            opacity: 1;
          }
        }
      }
      .image {
        img {
          @include transform(scale(1.1));
          filter: grayscale(1);
        }
      }
    }
  }
  .image-box {
    position: relative;
    overflow: hidden;
    @include transition(all 300ms ease);
    .image {
      position: relative;
      margin-bottom: 0px;
      a {
        display: block;
        width: 100%;
      }
      &::before {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0%;
        width: 100%;
        opacity: 0;
        content: "";
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--theme-color1) 100%);
        pointer-events: none;
        z-index: 2;
        @include transition(all 500ms ease);
      }
      &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0%;
        width: 100%;
        content: "";
        background-color: #ffffff;
        pointer-events: none;
        z-index: 2;
        @include transition(all 500ms ease);
      }
      img {
        width: 100%;
        @include transition(all 300ms ease);
      }
    }
  }
  .content-box {
    @include absolute-bottom;
    padding: 20px 20px;
    @include transition(all 300ms ease);
    z-index: 9;
    .cat-list {
      position: relative;
      display: inline-flex;
      padding: 5px 40px;
      justify-content: left;
      background: var(--theme-color1);
      @include transition(all 300ms ease);
      li {
        margin-right: 5px;
        a {
          font-size: 16px;
          line-height: 30px;
          font-weight: 400;
          color: #ffffff;
        }
      }
    }
    .title {
      display: block;
      padding: 24px 40px;
      background-color: #ffffff;
      margin-top: 0;
      margin-bottom: 0;
      min-width: 270px;
      @include transition(all 300ms ease);
      &:hover {
        color: var(--theme-color3);
      }
    }
  }
}
