.tm-sc-projects .cat-list {
  list-style: none;
  margin: 0;
}
.tm-sc-projects .cat-list li {
  display: inline;
  color: #aaa;
  margin-right: 7px;
  font-size: 13px;
}
.tm-sc-projects .cat-list li a {
  color: #aaa;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.tm-sc-projects .cat-list li:last-child span {
  display: none;
}

/* Portfolio Style two */
.projects-current-theme2 {
  margin-bottom: 30px;
}
.projects-current-theme2 .inner-box {
  position: relative;
  overflow: hidden;
}
.projects-current-theme2 .inner-box:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  top: auto;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(15, 5, 76) 100%);
  transition: all 300ms ease;
  z-index: 1;
  content: "";
}
.projects-current-theme2 .inner-box:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  top: auto;
  bottom: 0;
  height: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(39, 10, 217) 100%);
  transition: all 300ms ease;
  content: "";
}
.projects-current-theme2 .inner-box:hover:before {
  height: 0;
}
.projects-current-theme2 .inner-box:hover:after {
  height: 100%;
}
.projects-current-theme2 .inner-box:hover .image img {
  transform: scale(1.1);
}
.projects-current-theme2 .inner-box:hover .content .title {
  transform: none;
}
.projects-current-theme2 .inner-box:hover .content .excerpt {
  opacity: 1;
  transform: none;
  transition-delay: 200ms;
}
.projects-current-theme2 .inner-box:hover .read-more {
  transform: none;
  transition-delay: 250ms;
}
.projects-current-theme2 .inner-box .image {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}
.projects-current-theme2 .inner-box .image img {
  transition: all 300ms ease;
}
.projects-current-theme2 .inner-box .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 60px 20px 35px;
}
@media (max-width: 1399.98px) {
  .projects-current-theme2 .inner-box .content {
    padding: 0 30px 30px 30px;
  }
}
.projects-current-theme2 .inner-box .content .title {
  position: relative;
  color: #fff;
  margin-bottom: 15px;
  transform: translateY(60px);
  text-transform: capitalize;
  transition: all 300ms ease;
  z-index: 1;
}
.projects-current-theme2 .inner-box .content .title a:hover,
.projects-current-theme2 .inner-box .content .title a:focus {
  color: #fff;
}
@media (max-width: 767.98px) {
  .projects-current-theme2 .inner-box .content .title {
    margin-bottom: 50px;
  }
}
@media (max-width: 575.98px) {
  .projects-current-theme2 .inner-box .content .title {
    margin-bottom: 15px;
  }
}
.projects-current-theme2 .inner-box .content .excerpt {
  position: relative;
  color: #fff;
  margin-bottom: 0;
  opacity: 0;
  transform: translateY(81px);
  transition: all 300ms ease;
  z-index: 1;
}
.projects-current-theme2 .inner-box .read-more {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  background: var(--gradient-2);
  text-align: center;
  transform: translateX(60px);
  z-index: 1;
}